<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <form action="/add" method="post">

        <p>Course Name: <input type="inquiry" name="name" /></p>
    
        <p>Course Number: <input type="inquiry" name="number" /></p>
    
        <p>Instructor Name: <input type="inquiry" name="instructor" /></p>
    
        <p>Course Department: <input type="inquiry" name="department" /></p>
    
        <p>Course School: <input type="inquiry" name="school" /></p>
    
        <p>Course Description: <input type="inquiry" name="description" /></p>
    
        <p><input type="submit" value="Submit form!"/></p>
      </form>
      <p><a href="homepage.html" class="button">Home</a></p>
    </div>
  </body>
</html>
