<html>
  <head>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the homepage!</h1>
      <p><a href="/all" class="button">See all courses</a></p>
      <p><a href="add-course.html" class="button">Add a course</a></p>
      <p><a href="delete-course.html" class="button">Delete a course</a></p>
      <p><a href="search.html" class="button">Search for courses</a></p>
      <p><a href="/allUser" class="button">See all users</a></p>
    </div>
  </body>
</html>
