<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <form action="/search" method="post">
        <p>Course Name: <input type="inquiry"  name="name" /></p>
        <p>Course Number: <input type="inquiry"  name="number" /></p>
        <p>Instructor Name: <input type="inquiry"  name="professor" /></p>
        <p>Course Department: <input type="inquiry" name="department" /></p>
        <p><input type="submit" value="Search" /></p>
      </form>
      <p><a href="homepage.html" class="button">Home</a></p>
    </div>
  </body>
</html>