body {
  font-family: "Comic Sans MS", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
p {
  display: block;
  margin-top: 1em;
}

a.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 5px 5px 5px #888888;
  transition: background-color 0.3s ease-in-out;
}

a.button:hover {
  background-color: #3e8e41;
}

input[type="inquiry"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 5px 5px 5px #888888;
}

/* Change the button's color on hover */
input[type="submit"]:hover {
  background-color: #3e8e41;
}